@font-face {
    font-family: 'ShipporiAntiqueB1-Regular';
    src: url('../fonts/ShipporiAntiqueB1-Regular.woff2') format('woff2'),
         url('../fonts/ShipporiAntiqueB1-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BalooBhaijaan2-Regular';
    src: url('../fonts/BalooBhaijaan2-Regular.woff2') format('woff2'),
         url('../fonts/BalooBhaijaan2-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BalooBhaijaan2-Medium';
    src: url('../fonts/BalooBhaijaan2-Medium.woff2') format('woff2'),
         url('../fonts/BalooBhaijaan2-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BalooBhaijaan2-SemiBold';
    src: url('../fonts/BalooBhaijaan2-SemiBold.woff2') format('woff2'),
         url('../fonts/BalooBhaijaan2-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BalooBhaijaan2-Bold';
    src: url('../fonts/BalooBhaijaan2-Bold.woff2') format('woff2'),
         url('../fonts/BalooBhaijaan2-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BalooBhaijaan2-ExtraBold';
    src: url('../fonts/BalooBhaijaan2-ExtraBold.woff2') format('woff2'),
         url('../fonts/BalooBhaijaan2-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}