@import '../../Styles/_style';

@media (min-width: 320px){
  .home-container {
    @include _flex(column,center,center);
    color:#fff;
  }
  
  .home-photo img {
    display: none;
    width:95vw;
  }

  .home-presentation{
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    padding:1.5em;
    margin:1em;

    & .main-title{
      color: #fff;
      @include _flex(row,space-between,center);

      & h3{
        padding-right: 0.8em;
      }
 
      & svg:hover{
        background-color: #fff;
      }
    }

    & p{
      font-family: "Quicksand-Light";
      font-weight: 300;
    }

    .icons-presentation{
      @include _flex(column,flex-start,flex-start);
      padding-top: 1em;
      display: none;

        & .bagage{
          padding-right: 1em;
          cursor: pointer;
          background: none;
          border: none;
        
          & img{
            width:5em;
          }
        
          & img:hover{
            transition: 1s;
            transform: rotate(20deg); 
          }
        
        }
      
        & .arrow{
          display: none;
          width:255px;
        }

    }
  }
}

@media (min-width: 764px){

  .home-container {
    @include _flex(row,center,center);
    height: 36em;


    & .icons-presentation{
      display: inline;

      & .bagage{

        img{
          width:4.5em;
        }

      }
    }
  }

  .home-photo {
    @include _flex(column,center,center);
    width: 50%;

    & img{
      display: inline;
      width:68vw;
    }

  }

  .home-presentation{
    padding:2vw;
    width: 35%;
  }




}

@media (min-width: 922px){
.home-container {
  box-shadow: 0px 2px rgb(49, 49, 49);
  @include _flex(row,space-around,center);
  color:#fff;
  width: 80vw;
  height: 50em;
}

.home-photo {
  @include _flex(column,center,center);
  width: 50%;

  & :hover{
    width:48em;
    transform: translateX(1em);
    transition: 1s;
  }
}

.home-photo img {
  top:100vh;
  left:2vw;
  width: 44em;
  z-index: 1;


}

.home-presentation {
  @include _flex(column,flex-start,flex-start);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin:0em;
  padding: 1.8em;
  width: 32%;
  z-index: 2;

  & h3{
    margin: 0px;
    font-size: 32px;
  }

  & p{
    font-size: 14px;
    line-height: 30px;
  }

  & .hand{
    position:absolute;
    width:12vw;
    top:51.2vw;
    left:62.15vw;
  }

  .icons-presentation{
    @include _flex(column,flex-start,flex-start);

      & .bagage{

      
      }
    
      & .arrow{
        display: inline;
        width:320px;
      }
      
      & .arrow:hover{
        transition: 0.5s;
        width:330px;
      }

  }

}


}

/////////////////////////
/// 


@media (min-width: 1200px){

  .home-presentation{
    height: 66%;
  }

  .home-photo {
    & :hover{
      width:64em;
    }
  }
  
  .home-photo img {
    width: 60em;
  }
}