@import '../../Styles/_style';

@media (min-width: 320px) {

  .header-container {
    @include _flex(column,center,center);
    color: white;
  }

  aside {
    @include _flex(column,center,center);
    background-color: rgb(26, 26, 26);
    font-weight: 400;
    width: 100%;
    & h2:first-child{
      font-size: 20px;
    }
  }

  .top{
    @include _flex(row,center,center);
    width: 100%;
    & button  {
      cursor: pointer;
      border:none;
      visibility: visible;
      box-shadow: none;
      position: relative;
      left:-10%;
      color: #fff;
      background-color: rgb(26, 26, 26);
    }

  }

  .hero {
    margin-bottom: 0vh;
    position:relative;
    width: 100%;
  }

.name {
  @include _flex(column,center,flex-start);
  position: absolute;
  z-index: 1;
  width:30vh;
  top:18vh;

  & h2{
    text-shadow: 70px 10px 10px rgba(128, 128, 128, 0.8);
    font-size: 24px;
    font-family: 'Nunito-Bold';
    margin: 0px;
  }

  & h3 {
    text-shadow: 30px 12px 7px rgba(128, 128, 128, 0.8);
    font-family: 'Nunito-Medium';
    margin: 0px;
  }

  & .nom3{
    color: #000;
    font-family: 'Nunito-ExtraBold';
    font-size: 12px;
    margin:0px;
    margin-top: 0.3em;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:15px;
    padding-right:15px;
    border-radius: 2px;
    background-color: yellow;
  }

}
  
}

@media (min-width: 375px){

  .name {
    @include _flex(column,center,flex-start);
    position: absolute;
    z-index: 1;
    top:22vh;
  }

  .top{
    & button {
      left:-12%;
    }
  }

}


@media (min-width:764px){

  .header-container {
    @include _flex(column,center,center);
    color: white;
  }
  
  .top{
    & button  {
      font-size: 2em;
      left:-33%;
    }
  }

  aside {
    @include _flex(column,center,center);
    & h2:first-child{
      font-size: 20px;
    }
  }

  .name{
    width: 40vw;
    height: 15vh;
    top:40vh;

    & .nom{
      font-size: 1.6em;
    }

    & .nom2{
      font-size: 2em;
    }

    & .nom3{
      padding-right: 10px;
      padding-left: 10px;
      margin-top: 0.5em;
    }
  }

}

@media (min-width: 992px){

.header-container {
  @include _flex(row,center,stretch);
  box-shadow: 0px 2px rgb(49, 49, 49);
  width: 80vw;
}

aside {
  @include _flex(column,space-between,center);
  background-color: rgb(26, 26, 26);
  width: 33%;
  font-weight: 400;

  & h2:first-child{
    font-size: 20px;
  }
}

.top{
  @include _flex(row,center,center);
  width: 100%;
  & button {
    background: transparent;
    visibility: hidden;
    display: none;
  }
}

.name {
  @include _flex(column,center,flex-start);
  position: relative;
  width: 35vw;
  top: -20vh;
  left: 38%;


.nom {
  margin:0px;
  font-size: 32px;
  font-weight: 300;
}

.nom2 {
  margin:0px;
  font-size: 40px;
  font-weight: 500;
}

.nom3 {
  margin:0px;
  margin-top: 0.5em;
  font-size: 16px;
  padding: 20px;
  padding-top:10px;
  padding-bottom:10px;
  color: #000;
  border-radius: 1px;
  text-align: center;
  background-color: yellow;
}

.nom3:hover {
  color: rgb(119, 119, 119);
}

}

.name:hover {
  cursor: pointer;
   width: 40vw;
  transition: 1s;
}

.navbar-container {
  @include _flex(column,space-between,center);
  background-color: rgb(107, 107, 107);
  width: 67%;
  font-weight: 400;
}

.hero {
  width: 100%;
}

}


////////////////////////////////////////////////
/// 
/// 
/// 
/// 
/// 
/// 
/// 


@media (min-width: 320px){

  .navbar {
    @include _flex(row,center,center);
    background-color: rgb(26, 26, 26);
    z-index: 3;
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    box-shadow: 0px 3px #000;
    gap:1.5em;
    transition: 1s;
    transform: translateY(-100vh);
  

    & button{
      color: #fff;
      background-color: rgb(26, 26, 26);
      border: none;
      z-index: 1;
      cursor: pointer;
      visibility: visible;
    }
  }

  .navbar .responsive-nav{
    transform: none;
  }

  nav {
    @include _flex(column,space-between,center);
    width: 70%;
    padding: 0px;
    margin: 1.3rem;

  }
  nav a {
    color: rgb(255, 255, 255);
    list-style: none;
    text-decoration: none;
  }
  nav :hover {
    cursor: pointer;
    color: rgb(214, 214, 214);
    text-decoration: underline 3px;
    text-decoration-color: cyan;
  }
  
}

@media (min-width: 992px){

.navbar {
  @include _flex(row,center,center);
  border-radius: 2px;
  background-color: rgb(34, 34, 34);
  height: 3.2em;
  width: 100%;
  box-shadow: 3px 3px rgb(0, 0, 0), 3px 3px rgb(66, 66, 66);
  transition: none;
  transform: none;

  & button{
    display: none;
  }
}

nav {
  @include _flex(row,space-around,center);
  width: 80%;
  padding: 0px;
  margin: 1.3rem;
}
nav a {
  color: rgb(255, 255, 255);
  list-style: none;
  font-size: 0.8rem;
  text-decoration: none;
}
nav :hover {
  cursor: pointer;
  color: rgb(214, 214, 214);
  text-decoration: underline 3px;
  text-decoration-color: cyan;
}



}