@import '../../Styles/_style';

@media (min-width: 320px){

  .navbar {
   display: none;
    width: 100%;
    box-shadow: 0px 3px #000;
  }
  
}

@media (min-width: 992px){

.navbar {
  @include _flex(row,center,center);
  width: 100%;
  box-shadow: 0px 3px #000;
}

.LinksOnePager {
  @include _flex(row,space-between,center);
  width: 70%;
  padding: 0px;
  margin: 1.3rem;
}
.LinksOnePager li {
  list-style: none;
  font-size: 0.8rem;
}
.LinksOnePager :hover {
  cursor: pointer;
  color: rgb(228, 228, 228);
  text-decoration: underline 3px;
  text-decoration-color: cyan;
}

}