@import '../../Styles/_style';

@media (min-width: 320px){

.works-container{
    height: 60em;
    background-color: #fff;
}

.works-main{
    & h3{
        display: none;
    }
}

.selection{
    @include _flex(column,space-around,center);
    height: 10em;
    padding:1em;

    & .choice{

        & h3:first-of-type{
            font-size: 14px;
            }
        
        & h3:nth-child(2){
            display: none;
            padding-left:9.6em;
        }
        
        & h3:nth-child(3){
            display: none;
        }
        
    }

    .works-main{
        @include _flex(column,center,center);


    & .works-title{
        @include _flex(row,center,center);

          & h2{
              margin-top: 10px;
              margin-bottom: 10px;
              font-size: 30px;
              padding-right: 1em;
          }
          & svg{
              margin-bottom: 10px;
              display:none;

              & :hover{
                  display:none;
              }
          }

          & img{
              margin-bottom: 10px;
              width: 4em;

              & :hover{
                
                  cursor: pointer;
                  visibility: visible;
              }

              & :active{
                  cursor: pointer;
                  visibility: visible;

              }
          }
    }

    & .works-title2{
        font-family: 'Quicksand-Regular';
        font-size: 14px;
        margin: 0;
    }

    }

    & .site{
        font-family: 'Quicksand-Regular';
        border:none;
        background:none;
    }

}
.choice{
    @include _flex(row,center,center);
    width: 80%;
    font-size: 12px;
    list-style: none;
    padding-left:0px;


    & li:hover{
        transition: 0.5s;
        cursor: pointer;
        color: rgb(58, 58, 58);
        text-decoration: underline 5px;
        text-decoration-color: cyan;
    }

    & .site{

        & a{
            
        }

    }

}

}


@media (min-width: 376px){

    .works-container{
        height: 74em;
    }

}


@media (min-width: 480px){
    
    .selection{
        @include _flex(column,flex-start,center);
        padding:2em;
        height: 10em;
    }    
    .works-container{
        height: 92em;
    }

}

@media (min-width: 580px){

    .selection{
        padding-top:4em;
        padding-bottom:1em;
        height: 16em;
    }  

    .works-container{
        height: 111em;
    }

}


@media (min-width: 680px){

    .works-container{
        height: 120em;
        background-color: #fff;
    }

}


@media (min-width: 764px){

    .works-container{
        @include _flex(column,flex-start,center);
        height: 120vh;
    }

    
    .works-main{
    & h3{
        display: inline;
        }
    }


    .works-title{
        @include _flex(row,center,center);

        & h2{
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 30px;
            padding-right: 1em;
        }
        & svg{
            margin-bottom: 10px;
            display:inline;

            & :hover{
                display:none;
            }
        }

        & img{
            margin-bottom: 10px;
            width: 4em;
            
            & :hover{
             
                cursor: pointer;
                visibility: visible;
            }

            & :active{
                cursor: pointer;
                visibility: visible;

            }
        }
    }

    

    .selection{
        @include _flex(column,space-around,center);
        padding-top:1em;
        margin-top: 40px;
        margin-bottom: 40px;

        & .choice{
            @include _flex(row,space-around,center);
            width: 60em;

            & h3:first-of-type{
                font-size: 12px;
                padding-left:49px;
                }
            
            & h3:nth-child(2){
                display: inline;
                padding-left:128px;
            }
            
            & h3:nth-child(3){
                padding-left: 89px;
                padding-right: 21px;
                display: inline;
            }
            
        }
    }

    
}

@media (min-width: 922px){
    
.works-container{
    @include _flex(column,flex-start,center);
    width: 80vw;
    height: 55em;
}

.selection{
    @include _flex(column,space-around,center);
    height:45%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

    & h2{
        font-size: 32px;
    }
}

.works-title{
    margin-top: 3em;
}

ul.choice{
    @include _flex(row,space-around,flex-start);
    padding-top:0px;
    padding-bottom:0px;
    font-size: 12px;
    list-style: none;
    padding-left:0px;
    width:66em;

    & .site:hover{
        cursor: pointer;
        color: rgb(58, 58, 58);
        text-decoration: underline 5px;
        text-decoration-color: cyan;
    }
}

}