@import '../../Styles/_style';

@media (min-width: 320px){

.works-container{
    height: 120vh;
    background-color: #fff;
}

.selection{
    @include _flex(column,space-around,center);
    height: 10em;
    padding:1em;

    & .choice{

        & li:first-of-type{
            font-size: 14px;
            }
        
        & li:nth-child(2){
            display: none;
            padding-left:9.6em;
        }
        
        & li:nth-child(3){
            display: none;
        }
        
    }

    .works-title{
        @include _flex(row,center,center);

        & h2{
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 30px;
            padding-right: 1em;
        }
        & svg{
            margin-bottom: 10px;
            display:none;

            & :hover{
                display:none;
            }
        }

        & img{
            margin-bottom: 10px;
            width: 4em;
            z-index: 1;
            
            & :hover{
             
                cursor: pointer;
                visibility: visible;
            }

            & :active{
                cursor: pointer;
                visibility: visible;

            }
        }
    }

}
.choice{
    @include _flex(row,center,center);
    width: 80%;
    font-size: 12px;
    font-weight: 500;
    list-style: none;
    padding-left:0px;


    & :hover{
        transition: 0.5s;
        cursor: pointer;
        color: rgb(58, 58, 58);
        text-decoration: underline 5px;
        text-decoration-color: cyan;
    }

}

}

@media (min-width: 764px){

    .works-container{
        @include _flex(column,flex-start,center);
        height: 120vh;
    }

    .works-title{
        @include _flex(row,center,center);

        & h2{
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 30px;
            padding-right: 1em;
        }
        & svg{
            margin-bottom: 10px;
            display:inline;

            & :hover{
                display:none;
            }
        }

        & img{
            margin-bottom: 10px;
            width: 4em;
            z-index: 1;
            
            & :hover{
             
                cursor: pointer;
                visibility: visible;
            }

            & :active{
                cursor: pointer;
                visibility: visible;

            }
        }
    }

    

    .selection{
        margin-top: 70px;
        margin-bottom: 30px;

        & .choice{
            @include _flex(row,space-around,center);
            width: 56em;

            & li:first-of-type{
                font-size: 12px;
                padding-left:28px;
                }
            
            & li:nth-child(2){
                display: inline;
                padding-left:154px;
            }
            
            & li:nth-child(3){
                padding-left: 128px;
                display: inline;
            }
            
        }
    }

    
}

@media (min-width: 922px){
    
.works-container{
    @include _flex(column,flex-start,center);
    width: 80vw;
    height: 55em;
}

.selection{
    @include _flex(column,space-around,center);
    height:45%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

    & h2{
        font-size: 32px;
    }
}

.works-title{
    margin-top: 3em;
}

.choice{
    @include _flex(row,space-around,flex-start);
    padding-top:0px;
    padding-bottom:0px;
    font-size: 12px;
    font-weight: 500;
    list-style: none;
    padding-left:0px;
    width:66em;

    & li:first-of-type{
    padding-left:1.5em;
    }

    & li:nth-child(2){
        padding-left:2.1em;
    }

    & li:nth-child(3){  

        display: inline;
        padding-right:0.6em;
    }

    & :hover{
        cursor: pointer;
        color: rgb(58, 58, 58);
        text-decoration: underline 5px;
        text-decoration-color: cyan;
    }
}

}