@import './Styles/_style';


.App {
  text-align: center;
}

.OnePagerContainer{
  @include _flex(column,flex-start,center);
  font-family: 'ShipporiAntiqueB1-Regular';
  font-family: 'BalooBhaijaan2-SemiBold';
  
}